<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70291854702-rf8trt220ri6u5mavtkjq0qj3jg9c63p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70291854702-rf8trt220ri6u5mavtkjq0qj3jg9c63p</string>
	<key>API_KEY</key>
	<string>AIzaSyDzx9CZHkC8ECWPcWwiLip-Ej_8nLYfObI</string>
	<key>GCM_SENDER_ID</key>
	<string>70291854702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.studfy.app</string>
	<key>PROJECT_ID</key>
	<string>studfy-4dad9</string>
	<key>STORAGE_BUCKET</key>
	<string>studfy-4dad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70291854702:ios:1ddee2c589e8c9959ddd7f</string>
	<key>DATABASE_URL</key>
	<string>https://studfy-4dad9-default-rtdb.firebaseio.com</string>
</dict>
</plist>